<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="flipkart">
<test name="Functional">
 <!--  <groups>
                <run>
                    <exclude name="HomePage"/>
                </run>
            </groups>-->
<classes>
 <class name="flipkart.TestCases.AdvertiseTest"/>
  <class name="flipkart.TestCases.LoginTest"/>
  <class name="flipkart.TestCases.AddToCartTest"/>
  <class name="flipkart.TestCases.SignUpTest"/> 
  <class name="flipkart.TestCases.SearchProductTest"/>
  <class name="flipkart.TestCases.BecomeSellerTest"/>
  <class name="flipkart.TestCases.PlaceOrderTest"/>
  <class name="flipkart.TestCases.CareersTest"/>
  <class name="flipkart.TestCases.DropdownProductSearchTest"/>
  <class name="flipkart.TestCases.FilterProductSearchTest"/>
  <class name="flipkart.TestCases.GiftCardTest"/>
  <class name="flipkart.TestCases.customerCareTest"/> 
  <class name="flipkart.TestCases.FlipkartPlusTest"/> 
</classes>
</test>
<!--  Test  -->
</suite>
<!--  Suite  -->